.checkout-container{
  background-color: var(--grey);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.checkout-dark {
  background-color: var(--black);
}

.checkout-headers, .checkout-products, .checkout-total {
  width: 80%;
}
.checkout-headers, .checkout-products,
.checkout-remove, .checkout-total
{
  background-color: var(--white);
}
.checkout-headers-dark, .checkout-products-dark,
.checkout-remove-dark, .checkout-total-dark
{
  background-color: var(--dark-grey);
  color: var(--grey);
}

.checkout-headers{
  color: var(--grey);
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 25px 25px 0 0;
}

.checkout-headers, .checkout-products, .checkout-total {
  padding-left: 15px;
  padding-right: 15px;
}

.checkout-headers p, .checkout-product img, .checkout-product p, .checkout-remove{
  width: 100px;
  text-align: center;
}
.checkout-product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.checkout-product img{
  background-color: var(--white);
  border: 3px solid var(--blue);
  border-radius: 25px;
  padding: 10px;
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.checkout-remove{
  border: none;
  background: none;
  font-size: 20px; 
  cursor:pointer;
}
.checkout-remove:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.checkout-total{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 25px 25px;
}

.checkout-button{
  cursor:pointer;
  background-color: var(--yellow);
  border: 2px solid var(--blue);
  width: 100px;
  /* margin: 0 10px; */
  border-radius: 25px;
  /* color:white; */
  font-size: 16px;
  margin-top: 10px;
}
.checkout-button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}





.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  /* width: 400px; */
  max-width: 400px;
}

.modal-text {
  text-align: center;
  background-color: var(--grey);
  padding: 10px;
  border-radius: 25px;
  border: 3px solid var(--blue);
}
.modal-text p {
  padding-bottom: 20px;
}

.modal-button {
  background-color: var(--yellow);
  border: 2px solid var(--blue);
  width: 100px;
  border-radius: 25px;
}
.modal-button a {
  text-decoration: none;
  text-align: center;
}
.modal-button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}