.checkout-container{
  background-color: var(--grey);
  display:flex;
  flex-direction:column;
  /* justify-content: center; */
  align-items: center;
  min-height: 90vh;
  /* margin: 25px 100px; */
}

.checkout-products,
.checkout-remove
{
  background-color: white;
}


.checkout-headers, .checkout-products{
  width: 80%;
}

.checkout-headers{
  color: var(--grey);
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.checkout-headers p, .checkout-product img, .checkout-product p, .checkout-remove{
  width: 100px;
  text-align: center;
}
.checkout-product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.checkout-product img{
  background-color: var(--white);
  border: 3px solid var(--blue);
  border-radius: 25px;
  padding: 10px;
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.checkout-remove{
  border: none;
  font-size: 2em; 
}

.checkout-total{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}



.checkout-button{
  cursor:pointer;
  background-color: var(--yellow);
  color:white;
  border:none;
  font-size: 16px;
}

.modal-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.modal-header h2 {
margin: 0;
}

.modal-close-btn {
background: none;
border: none;
font-size: 20px;
cursor: pointer;
color: gray;
transition: color 2s ease-in-out;
}

.modal-close-btn:hover {
color: red;
/* color: red; */
}

form label {
display: block;
margin-bottom: 10px;
}

form input,
form textarea { 
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin: 10px 0;
font-size: 16px;
}

form input:focus,
form textarea:focus {
outline: none;
box-shadow: 0 0 10px rgba(102, 92, 171, 0.3);
}

form button[type='submit'] {
background-color: var(--primary-bg);
color: white;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}
form button[type='submit']:hover {
/* background-color: var(--primary-bg); */
background-color: red;
}