.header-container {
  height: 50px;
  /* background-color: var(--grey); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-btn {
  color: var(--black);
  text-decoration:none;
}

.shopping-cart {
  display: flex;
  align-items: center;
}
.shopping-cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.shopping-cart-icon {
  font-size: 2em; 
}