.header-container {
  /* background-color: var(--white); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 20px 0;
  padding: 0 35px;
}

.home-btn {
  color: var(--blue);
  text-decoration:none;
  font-weight: 700;
  font-size: 24px;
}

.shopping-cart {
  display: flex;
  align-items: center;
}
.shopping-cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.shopping-cart-icon {
  font-size: 2em; 
}