.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
  background-color: var(--blue);
}

.contact-btn {
  color: var(--grey);
  text-decoration:none;
}