.search-container{
  height:60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container input{
  border: 3px solid var(--blue);
  border-radius: 8px;
  padding:8px 16px;
  color:var(--blue);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.search-container input::placeholder{
  color:var(--blue);
}